* {
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;
}

body {
    display: flex;
    height: 1.475rem;
}

:root {
    --success-color: #198754;
    --warning-color: #f59e0b;
    --info-color: #0ea5e9;
    --danger-color: #dc3545;
    --select-color: #624bff;
    --sidebar-width: 250px;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sticky {
    top: 0;
    position: sticky;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    opacity: 0.9;
}

.success-btn {
    background-color: var(--success-color, green);
    color: #fff;
}

.update-btn {
    background-color: var(--warning-color, orange);
    color: #fff;
}

.detail-btn {
    background-color: var(--info-color, blue);
    color: #fff;
}

.delete-btn:hover {
    background: var(--danger-color, red);
    color: #fff;
}

.edit-btn:hover {
    background: var(--danger-color, red);
    color: #fff;
}

/* Table */

.table-block {
	height: 635px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(60, 66, 87, 0.05), 0 3px 6px rgba(60, 66, 87, 0.1),
        0 9px 24px rgba(60, 66, 87, 0.2);
    overflow: auto;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
}

.table-title {
    font-size: 2rem;
    font-weight: 500;
}

.styled-table {
    width: 100%;
    overflow: hidden;
}

.styled-table thead {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.styled-table thead tr {
    text-align: left;
    background-color: #f1f5f9;
}

.styled-table th {
    padding: 12px 24px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #212b36;
}

.styled-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #f1f5f9;
}

.styled-table td {
    padding: 12px 24px;
    color: #161c24;
    font-size: 1.5rem;
    font-weight: 400;
}

.table-td-action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.table-btn {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.table-btn-icon {
    transition: all 0.2s ease-in-out;
}

/* Pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.page-item {
    border: 1px solid #f1f5f9;
}

.page-item:not(:first-child) {
    margin-left: -1px;
}

.page-item:first-child,
.page-item:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.page-item:last-child,
.page-item:last-child a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    min-height: 36px;
    padding: 12px 12px;
    font-size: 1.4rem;
    color: #624bff;
    transition: all 0.2s ease-in-out;
}

.page-link:hover {
    background-color: #f1f5f9;
}

.page-item--active .page-link {
    color: #fff;
    background-color: #624bff;
}

/* SIDEBAR */
.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #212b36;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.sidebar.sidebar--hidden {
    width: 0;
    transition: all 0.5s;
}

.brand {
    display: flex;
    padding: 16px 24px 24px;
    width: var(--sidebar-width);
    font-size: 1.8rem;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.brand__logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.navbar-nav {
    width: var(--sidebar-width);
}

.nav-item {
    display: block;
}

.nav-icon {
    margin-right: 8px;
    width: 16px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.475rem;
    line-height: 1.5;
    font-weight: 500;
    color: #919eab;
    transition: all 0.5s;
}

.nav-item .nav-link:hover {
    color: #fff;
    transition: all 0.5s;
}

.nav-item__active > .nav-link {
    color: #fff;
}

.navbar-nav > .nav-item > .nav-link {
    padding: 8px 24px;
}

.nav > .nav-item > .nav-link {
    padding: 4px 60px;
}

.nav {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.nav-show {
    max-height: 100px;
    opacity: 1;
    transition: all 0.5s;
}

/* HEADER */
.page-content {
    width: 100%;
    height: 100%;
    margin-left: var(--sidebar-width);
    padding-top: 60px;
    background-color: #f1f5f9;
    transition: all 0.5s;
}

.page-content.sidebar--hidden {
    margin-left: 0;
    transition: all 0.5s;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -60px;
    padding: 0 24px 0 12px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
    z-index: 999;
}

.header-nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 0.5s;
}

.header-nav-toggle:hover {
    background-color: #f1f5f9;
}

/* AVARTAR */
.avatar-container {
    position: relative;
    display: inline-block;
}
            
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
	cursor: pointer;
	border: 1px solid;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 0px;
	font-size: 1.4rem;
	border-radius: 5px;
}

.dropdown-content a, .dropdown-content p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover, .dropdown-content p:hover {
	background-color: #ddd;
}

.avatar-container:hover .dropdown-content {
	display: block;
}

/* MAIN */
.main-content {
    padding: 24px;
}

/* POPUP */
.popup {
  position: absolute;
  top: -150%;
  left: 60%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 450px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
  font-weight: 500;
  font-size: 1.4rem;
}

.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.25);
  border-radius: 10px;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

/* FORM */
.myform {
	font-weight: 500;
  	font-size: 1.4rem;
	padding: 24px 24px;
}

.myform__title {
	font-size: 2rem;
}

.myform-form {
	position: relative;
	height: 530px;
	margin-top: 24px;
}

.myform-form .input_text {
	width: 100%;
    height: 35px;
    padding: 10px;
    margin: 10px 0;
    background-color: #ecf0f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.6rem;
}

.myform-form .input_file {
	height: 35px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 1.6rem;
}

.myform__editor {
	resize: none;
	height: 150px;
}

.myform__status {
	margin: 7px 5px;
    width: 160px;
    height: 40px;
    margin-right: 50px;
    height: 35px;
    padding: 0px 10px;
    background-color: #ecf0f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.6rem;
}

.myform__funtion {
	display: flex;
    justify-content: space-between;
}

.myform__line {
	border-bottom: 1px solid #ccc;
	margin: 12px -24px;
}

.myform_header {
	display: flex;
}

.myform_block {	
 	display: flex;
 	align-items: center;
}

.myform_row {
	display: inline-flex;
	align-items: center;
	width: 100%;
	column-gap: 20px;
}

.myform-form .input_date {
	height: 35px;
    padding: 10px;
    margin: 10px 0;
    background-color: #ecf0f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.6rem;
}

.myform_footer {
	position: absolute;
	bottom: -10px;
	width: 100%;
}

.footer_post {
	position: relative;
	bottom: -12px;
	padding-bottom: 12px;
}

/* POPUP */
.popup .popup_add__title {
	margin-bottom: 20px;
	font-size: 1.7rem;
}

.popup input {
	width: 100%;
    height: 35px;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    background-color: white;
}

.popup-delete, .popup-update{
  width: 250px;
  font-size: 1.2rem;
}

.popup-delete p, .popup-update p {
	margin-bottom: 15px;
	margin-left: 10px;
}

.popup-annouce {
  	width: 326px;
  	font-size: 1.2rem;
}

.annouce-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 15px;
}